{% if app.session is not null and app.session.started %}
    <div id="flash-messages">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <b>{{ message }}</b>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
