{% extends 'base.html.twig' %}

{% block title %}{{ 'error.404.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'error.404.title'|trans }}</h1>

    <p>
        {{ 'error.404.content'|trans }}
    </p>
{% endblock %}